* {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.MainLayout {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content_layout {
    border-radius: 20px;
    height: 100vh;
}

.content_layout_light,
.content_layout_light > div{
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

.content_layout_dark,
.content_layout_dark > div{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

span {
    background: white;
}